# Python
__pycache__/
*.pyo
*.pyd
.venv311
venv/
# Data
data/results/
data/cache/
checkpoints/
# Logs
logs/
# Notebook checkpoints
.ipynb_checkpoints/
# macOS
.DS_Store
# Packaging
dist/
build/
*.egg-info/
